        <div id="footer">

            <p><span class="ellipsis">COPYRIGHT (©) {{ site_copyright}}.</span><a class="beian"
                                                                                         href="http://www.miitbeian.gov.cn/"
                                                                                         style="display:inline; width:auto; color:#8e8e8e"
                                                                                         target="_blank"></a></p>

        </div>