
    </div>

    <div id="online">

        <a class="home" href="{% url 'company:index' %}"><i class="fa fa-home" aria-hidden="true"></i>

        </a>

        <a class="ol-tel" href="tel:{{ site_telephone }}"><i class="fa fa-phone" aria-hidden="true"></i>

        </a>

        <a class="ol-qq" href="/media/{{ site_weixin }}"><i class="fa fa-weixin"
                                                                                                    aria-hidden="true"></i>

        </a>

    </div>

    <div class="list_nav">


    </div>
