{% extends 'company/base.html' %}
{% load static %}
{% block title %}首页{% endblock %}
{% block head-main %}
    <script type="text/javascript" src="{% static 'js/org.js' %}" data-main="indexMain"></script>
{% endblock %}
{% block head %}
    <script src="{% static 'js/ajax.js' %}"></script>
    <script src="{% static 'js/layer.js' %}"></script>
    <script src="{% static 'js/apply.js' %}"></script>
{% endblock %}
{% block body %}
    <body id="longPage" class="gh0 longPage bodyindex cn" data-uid="8390" data-form="5f1148902b6bd">
    <div class="bodyMask"></div>
    {% include 'company/header.html' %}
    <div id="sitecontent" class="ff_sitecontent">
        <div id="indexPage" class="ff_indexPage" data-scroll-ease="Expo.easeInOut" data-scroll-speed="1"
             data-control="0"
             data-control-wheel="0" data-singlescreen="0">
            <div id="topSlider" class="ff_topSlider mslider module">
                <div class="content_wrapper">
                    <div class="content_list owl-carousel owl-theme" data-slider-height="500" data-slider-auto="1"
                         data-slider-mode="0" data-slider-mode_id="0" data-slider-pause="4" data-slider-ease="ease-out"
                         data-slider-speed="1" style="height:500px">
                        {% for banner in banners %}
                            <div class="item_block" data-index="{{ forloop.counter0 }}">
                                <div class="item_bg image"
                                     data-thumb="media/{{ banner.pic }}"
                                     style="background-image:url(media/{{ banner.pic }})"></div>
                            </div>
                            {% if banner.link_to %}
                                <a target="_blank" href="{{ banner.link_to }}"
                                   style="width: 100%; height: 100%;"></a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="sliderArrow">
                        <div></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="mlist ad01 module ff_noSlider"
                 style=" background-position: initial;background-size: cover;background-repeat: no-repeat;">
                <div class="bgmask"></div>
                <div class="module_container">
                    <div class="container_header wow"><p class="title">ad01</p></div>
                    <div class="container_content">
                        <div class="content_wrapper">
                            <div class="tab_content">
                                <div class="content_list clearfix">
                                    {% for advert in adverts %}
                                        <div id="item_block_{{ forloop.counter0 }}"
                                             class="item_block_{{ forloop.counter0 }} item_block wow"
                                             style="animation-delay:.{{ forloop.counter0 }}s">
                                            <div class="item_index">{{ forloop.counter0 }}</div>
                                            <a href="
                                                    {% if advert.link_to %}{{ advert.link_to }}{% else %}javascript:void(0){% endif %}"
                                               class="item_box">
                                                <div href="
                                                        {% if advert.link_to %}{{ advert.link_to }}{% else %}javascript:void(0){% endif %}"
                                                     class="item_img"
                                                     target="_blank"><img src="media/{{ advert.pic }}"/>
                                                    <div class="item_mask"></div>
                                                </div>
                                                <div class="item_wrapper clearfix">
                                                    <div class="item_info clearfix">
                                                        <p class="title ellipsis">{{ advert.title }}</p>
                                                        <p class="subtitle ellipsis">{{ advert.title }}</p></div>
                                                    <div class="item_des">
                                                        <div class="description cScrollbar"><p>
                                                            {{ advert.title }}</p></div>
                                                    </div>
                                                </div>
                                                <div class="item_index">{{ forloop.counter0 }}</div>
                                            </a><a href="
                                                {% if advert.link_to %}{{ advert.link_to }}{% else %}javascript:void(0){% endif %}"
                                                   class="details">MORE<i
                                                class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    {% endfor %}
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="mlist project module ff_noSlider"
                 style=" background-position: center center; background-size: initial; background-repeat: no-repeat;">
                <div class="bgmask"></div>
                <div class="module_container">
                    <div class="container_header wow"><p class="title">产品展示</p>
                        <p class="subtitle">正品保证 / 绿色天然 / 植物配方 / 育婴师指导</p></div>
                    <div class="container_category wow movedx" data-movedx-mid="2" data-movedx-distance="15">
                        <a href="{% url 'company:goods_list_all' %}" class="active"><span>全部</span></a>
                        {% for goods_category in goods_categories %}
                            <a href="{% url 'company:goods_list' goods_category.name %}"><span>{{ goods_category.name }}</span></a>
                        {% endfor %}
                        <a href="{% url 'company:goods_list_all' %}" class="ff_more"><span>MORE</span></a>
                    </div>
                    <div class="container_content">
                        <div class="content_wrapper">
                            <div class="content_list clearfix">
                                {% for good in goods %}
                                    <div id="item_block_{{ forloop.counter0 }}"
                                         class="item_block_{{ forloop.counter0 }} item_block wow"
                                         style="animation-delay:.{{ forloop.counter0 }}s">
                                        <div class="item_index">0{{ forloop.counter0 }}</div>
                                        <a href="{% url 'company:goods_detail' good.uid %}" class="item_box">
                                            <div href="{% url 'company:goods_detail' good.uid %}" class="item_img"
                                                 target="_blank"><img src="/media/{{ good.thumbnail }}"/>
                                                <div class="item_mask"></div>
                                            </div>
                                            <div class="item_wrapper clearfix">
                                                <div class="item_info clearfix">
                                                    <p class="title ellipsis">{{ good.name }}</p>
                                                    <p class="subtitle ellipsis"></p></div>
                                                <div class="item_des"><p
                                                        class="description">{{ good.desc|slice:40 }}...</p></div>
                                                <span href="{% url 'company:goods_detail' good.uid %}"
                                                      class="details hide">MORE<i class="fa fa-angle-right"
                                                                                  aria-hidden="true"></i></span></div>
                                            <div class="item_index">{{ forloop.counter0 }}</div>
                                        </a><a href="{% url 'company:goods_detail' good.uid %}" class="details">MORE<i
                                            class="fa fa-angle-right" aria-hidden="true"></i></a>
                                        <div class="item_tags clearfix"><i class="fa fa-tags"></i><a
                                                href="{% url 'company:goods_list' good.category.name %}">类别：{{ good.category.name }}</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="mlist videom module bgShow ff_slider"
                 style=" background-position: initial;background-size: contain;background-repeat: no-repeat; background-image:url({% static 'images/1523609383712.jpg' %});">
                <div class="bgmask"></div>
                <div class="module_container">
                    <div class="container_header wow"><p class="title">视频中心</p>
                        <p class="subtitle">安姐在线教学，科普育儿知识</p></div>
                    <div class="container_content">
                        <div class="content_wrapper slider" data-slider-num='1' data-slider-loop="1">
                            <div class="content_list clearfix">
                                {% for video in videos %}
                                    <div data-href="/media/{{ video.video }}"
                                         data-index="{{ forloop.counter0 }}"
                                         class="item_block_{{ forloop.counter0 }} item_block wow"
                                         style="animation-delay:.{{ forloop.counter0 }}s">
                                        <div class="item_index">{{ forloop.counter0 }}</div>
                                        <div data-href="/media/{{ video.video }}"
                                             class="item_box videom-box">
                                            <div class="item_img" target="_blank"><img
                                                    src="/media/{{ video.thumbnail }}"/>
                                                <div class="item_mask"></div>
                                            </div>
                                            <div class="item_wrapper clearfix">
                                                <div class="item_info clearfix">
                                                    <p class="title ellipsis">{{ video.title }}</p>
                                                    <p class="subtitle ellipsis">来源：{{ video.get_source_display }}</p></div>
                                                <div class="item_des">
                                                    <div class="description">{{ video.desc }}
                                                        <p><br/></p></div>
                                                </div>
                                                <span data-href="/media/{{ video.video }}"
                                                      class="details hide">MORE<i class="fa fa-angle-right"
                                                                                  aria-hidden="true"></i></span></div>
                                            <div class="item_index">{{ forloop.counter0 }}</div>
                                        </div>
                                        <a href="/media/{{ video.video }}"
                                           class="details">MORE<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                        <div class="item_tags clearfix"><i class="fa fa-tags"></i></div>
                                    </div>
                                {% endfor %}

                            </div>

                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="mlist service module bgShow ff_noSlider"
                 style=" background-position: initial;background-size: cover;background-repeat: no-repeat; background-image:url({% static 'images/1523930503784.png' %});">
                <div class="bgmask"></div>
                <div class="module_container">
                    <div class="container_header wow"><p class="title">实力保证</p>
                        <p class="subtitle">全国十大畅销品牌，全国消费者放心满意</p></div>
                    <div class="container_content">
                        <div class="content_wrapper">
                            <div class="content_list clearfix">
                                {% for strength in strength %}
                                    <div id="item_block_{{ forloop.counter0 }}"
                                         class="item_block_{{ forloop.counter0 }} item_block wow"
                                         style="animation-delay:.{{ forloop.counter0 }}s">
                                        <div class="item_index">01</div>
                                        <a href="{% url 'company:strength_detail' strength.id %}" class="item_box">
                                            <div href="{% url 'company:strength_detail' strength.id %}" class="item_img"
                                                 target="_blank"><img src="/media/{{ strength.thumbnail }}"/>
                                                <div class="item_mask"></div>
                                            </div>
                                            <div class="item_wrapper clearfix">
                                                <div class="item_info clearfix">
                                                    <p class="title ellipsis">{{ strength.title }}</p>
                                                    <p class="subtitle ellipsis"></p></div>
                                                <div class="item_des"><p
                                                        class="description">{{ strength.desc|slice:40 }} ...</p></div>
                                                <span href="{% url 'company:strength_detail' strength.id %}"
                                                      class="details hide">MORE<i class="fa fa-angle-right"
                                                                                  aria-hidden="true"></i></span></div>
                                            <div class="item_index">{{ forloop.counter0 }}</div>
                                        </a><a href="{% url 'company:strength_detail' strength.id %}" class="details">MORE<i
                                            class="fa fa-angle-right" aria-hidden="true"></i></a>
                                        <div class="item_tags clearfix"><i class="fa fa-tags"></i></div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="mcustomize module bgShow horizontal tril"
                 style=" background-image:url({% static 'images/1523930363536.png' %}); background-position: initial;background-size: contain;background-repeat: no-repeat;">
                <div class="bgmask"></div>
                <div class="module_container">
                    <div class="container_header wow animated hide"><p class="title">为什么选择帮宝？</p>
                        <p class="subtitle"></p></div>
                    <div class="container_content">
                        <div class="contentbody">
                            <div class="wrapper">
                                <div class="header wow"><p class="title">为什么选择帮宝？</p></div>
                                <div class="description wow"><p style="line-height: 2em;"><span
                                        style="font-size: 14px;"></span></p>
                                    <p>专业解决宝宝皮肤红疹，红屁股，新生儿拉肚子，皮肤湿疹等，</p>
                                    <p>做出专业解答</p>
                                    <p style="line-height: 2em;"><span style="font-size: 14px;"></span><br/></p>
                                    <p style="line-height: 3em;">◎ &nbsp; 针对新生儿皮肤问题，做出专业应对方案；</p>
                                    <p style="line-height: 3em;">◎ &nbsp; 根据孩子年龄、日常生活情况、需求，量身定制最适合的应对方案。</p>
                                    <p style="line-height: 3em;">◎ &nbsp; 全国十大畅销品牌</p>
                                    <p style="line-height: 3em;">◎ &nbsp; 全国消费者放心满意企业</p>
                                    <p style="line-height: 3em;">◎ &nbsp; 解决100000+宝妈的烦恼</p>
                                    <p><br/></p>
                                    {% if company_function.page_form_state == 'ON' %}
                                    <p><a href="{% url 'company:apply' %}" target="_blank"
                                          title="MORE" textvalue="免费领取试用装">免费领取试用装</a><br/></p>
                                        {% else %}
                                        <p><a href="####" target="_self"
                                          title="MORE" textvalue="联系我们">联系我们</a><br/></p>
                                    {% endif %}
                                    </div>
                            </div>
                        </div>
                        <div class="mediabody wow"><a href="####">
                            <div class="image"
                                 style="background-image:url({% static 'images/1523608567921.png' %})"></div>
                            <div class="mask"></div>
                            <div class="link_icon"><i class="fa fa-link" aria-hidden="true"></i></div>
                        </a></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="mlist news module ff_slider"
                 style="padding-bottom: 0; background-position: initial;background-size: cover;background-repeat: no-repeat;">
                <div class="bgmask"></div>
                <div class="module_container">
                    <div class="container_header wow"><p class="title">新闻</p>
                        <p class="subtitle">News</p></div>
                    <div class="container_category wow movedx" data-movedx-mid="2" data-movedx-distance="15"><a
                            href="{% url 'company:news_list_all' %}" class="active"><span>全部</span></a><a
                            href="{% url 'company:news_list_all' %}" class="ff_more"><span>MORE</span></a>
                    </div>
                    <div class="container_content">
                        <div class="content_wrapper slider" data-slider-num='3' data-slider-loop="1">
                            <div class="content_list clearfix">
                                {% for news in news %}
                                 <div id="item_block_{{ forloop.counter0 }}" class="item_block_{{ forloop.counter0 }} item_block wow" style="animation-delay:.{{ forloop.counter0 }}s">
                                    <div class="item_index">{{ forloop.counter0 }}</div>
                                    <a href="{% url 'company:news_detail' news.uid %}" class="item_box">
                                        <div href="{% url 'company:news_detail' news.uid %}" class="item_img"
                                             target="_blank"><img src="/media/{{ news.thumbnail }}"/>
                                            <div class="item_mask"></div>
                                        </div>
                                        <div class="item_wrapper clearfix">
                                            <div class="item_info clearfix">

                                                <p class="title ellipsis">{{ news.title}}</p>
                                                <p class="subtitle ellipsis"></p></div>
                                            <div class="date_wrap"><span class="year">{{ news.create_time|date:'Y' }}</span><i
                                                    class="time-connect">-</i><span class="m">{{ news.create_time|date:'m' }}</span><i
                                                    class="time-connect">-</i><span class="d">{{ news.create_time|date:'d' }}</span></div>
                                            <div class="item_des"><p class="description">
                                                {{ news.desc|slice:40}} ...</p></div>
                                            <span href="{% url 'company:news_detail' news.uid %}"
                                                  class="details hide">MORE<i class="fa fa-angle-right"
                                                                              aria-hidden="true"></i></span></div>
                                        <div class="item_index">{{ forloop.counter0 }}</div>
                                    </a><a href="{% url 'company:news_detail' news.uid %}" class="details">MORE<i
                                        class="fa fa-angle-right" aria-hidden="true"></i></a>

                                </div>
                                {% endfor %}
                            </div>
                            <a href="" class="more wow"
                               style="animation-delay:.5s">MORE<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="mcounter module bgShow"
                 style=" padding-top: 0; background-position: initial;background-size: contain;background-repeat: no-repeat; background-image:url({% static 'images/1524023311218.png' %});">
                <div class="bgmask"></div>
                <div id="counterBgdx" style="position:absolute; width:100%; height:100%"></div>
                <div class="module_container">
                    <div class="container_content">
                        <ul class="content_list">
                            <li>
                                <div><p class="number"><span class="counterDX"
                                                             data-counter-value="100000">100000+</span><span
                                        class="unit">+</span></p>
                                    <p class="title">已结帮助过的宝宝</p></div>
                            </li>
                            <li>
                                <div><p class="number"><span class="counterDX" data-counter-value="326">326</span><span
                                        class="unit">+</span></p>
                                    <p class="title">遍布国家及省级市区</p></div>
                            </li>
                            <li>
                                <div><p class="number"><span class="counterDX"
                                                             data-counter-value="100">100+</span><span
                                        class="unit">+</span></p>
                                    <p class="title">高级育婴师</p></div>
                            </li>
                            <li>
                                <div><p class="number"><span class="counterDX" data-counter-value="100">100</span><span
                                        class="unit">%</span></p>
                                    <p class="title">产品纯天然</p></div>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        <div class="mlist imagelink module ff_slider"
             style=" background-position: initial;background-size: cover;background-repeat: no-repeat;">
            <div class="bgmask"></div>
            <div class="module_container">
                <div class="container_header wow"><p class="title">战略合作</p>
                    <p class="subtitle">与多家机构进行战略合作</p></div>
                <div class="container_content">
                    <div class="content_wrapper slider" data-slider-num='6' data-slider-loop="1">
                        <ul class="content_list">
                            {% for link in links %}
                            <li id="item_block_{{ forloop.counter0 }}" class="item_block wow" style="animation-delay:.{{ forloop.counter0 }}s"><a
                                    href="{{ link.url }}" target="_blank" class="item_img" title="Cinder">
                                <div href="{{ link.url }}" class="item_box" target="_blank"><img
                                        src="/media/{{ link.pic }}"/></div>
                                <div class="item_wrapper clearfix">


                                    <div class="item_des"><p class="description"></p></div>
                                </div>
                            </a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

            <div id="mcontact" class="mcontact module bgShow"
                 style=" background-image:url({% static 'images/1523931162459.jpg' %}); background-position: initial;background-size: contain;background-repeat: no-repeat;">
                <div class="module_container">
                {% if company_function.index_form_state == 'ON' %}
                    <div class="container_header wow"><p class="title">免费咨询</p>
                        <p class="subtitle">联系安姐，了解更多育婴知识</p></div>
                {% endif %}
                    <div class="container_content">
                        <div class="content_wrapper">
                            <div id="contactlist" class="contactlist">
                                <div id="contactinfo" class="contactinfo wow"><h3 class="ellipsis contact_name">
                                    {{ site_name }}</h3>
                                    <p class="ellipsis contact_add">地址：{{ site_address }}</p>
                                    <p class="ellipsis contact_zip">邮编：{{ site_zip }}</p>
                                    <p class="ellipsis contact_tel">电话：{{ site_phone }}</p>
                                    <p class="ellipsis contact_mob">手机：{{ site_telephone }}</p>
                                    <p class="ellipsis contact_fax">传真：{{ site_fax }}</p>
                                    <p class="ellipsis contact_eml">邮箱：{{ site_email }}</p>

                                    <div class="ff_social"><a class="fl" target="_blank" href="{{ site_weibo }}"><i
                                            class="fa fa-weibo"></i></a><a class="fl" target="_blank"
                                                                           href="tencent://message/?uin={{ site_qq }}&Site=uelike&Menu=yes"><i
                                            class="fa fa-qq"></i></a><a id="mpbtn" class="fl" target="_blank"
                                                                        href="media/{{ site_weixin }}"><i
                                            class="fa fa-weixin"></i></a></div>
                                </div>
                                {% if company_function.index_form_state == 'ON' %}
                                <div id="contactform" class="contactform wow">{% csrf_token %}
                                    <form id="indexForm"
                                          method="post"><p class="contactform_name"><input type="text" class="inputtxt"
                                                                                           name="name" placeholder="姓名"
                                                                                           autocomplete="off"/></p>
                                        <p class="contactform_eml"><input type="text" class="inputtxt" name="email"
                                                                          placeholder="邮箱" autocomplete="off"/></p>
                                        <p class="contactform_tel"><input type="text" class="inputtxt" name="telephone"
                                                                          placeholder="电话" autocomplete="off"/></p>
                                        <p class="contactform_content"><textarea class="inputtxt" name="message"
                                                                                 placeholder="内容"
                                                                                 autocomplete="off"></textarea></p>
                                        <p class="contactform_submit"><input class="inputtxt submit" type="button" id="IndexSubmit"
                                                                             value="提交"/></p></form>
                                </div>
                                {% endif %}
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page_contect_editor"></div>
    </div>
    {% include 'company/footer.html' %}
    </body>

{% endblock %}